<!doctype html>
<html>
  <head>
  </head>
  <body>
      <center>
      <script async src="https://telegram.org/js/telegram-widget.js?4"
          data-telegram-login="{{ tgauth_bot }}" data-size="large"
          data-auth-url="https://{{ request.get_host }}{% url "social:complete" "telegram" %}"
          data-request-access="write"></script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
          if (d.getElementById(id)) return;
          var js, fjs = d.getElementsByTagName(s)[0];
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.1&appId=413417222487186';
          js.onerror = function() {
              fbfallback = d.createElement('div');
              fbfallback.innerHTML = "<a href=\"{% url "social:begin" "facebook" %}\">Вход через Facebook</a>";
              fjs.parentNode.insertBefore(fbfallback, fjs);
          }
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-login-button"
           data-width="200"
           data-max-rows="1"
           data-size="large" data-button-type="login_with" data-show-faces="false"
           data-auto-logout-link="false" data-use-continue-as="false"></div>
      </center>
  </body>
</html>
